body {background-image: url(paperpaper.jpg)}
h1 {font-size: 40px;
    color: #2b1700;
    text-align: center;
    background-image: url(coklatbg.gif);
    background-size:cover;
    border-style: solid;}
img {width: 25%;
    border: 5px solid black;
   text-align: center;
   display: block;
   margin: auto;}
table {font-size: 20px;
    text-align: left;
    width: 99%;
    border: 10px solid #60412b;
    border-style: outset;
    border-collapse: separate;
    text-align: left;
    padding: 5px;
    margin: 10px 10px 10px 10px;
    background-color: cornsilk;}
h2 {font-size: 30px;
    color: cornsilk;
    text-align: center;
    background-color: #201100;
    border: solid #201100;}
p {font-size: 20px;
    text-align: justify;
    text-indent: 1in;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #e4bc84;}